////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorMidnightGray: #444;
$colorOffWhite: #EEE;
$colorLightGray: #DDD;
$colorFogGray: #CCC;
$colorStoneGray: #AAA;
$colorWhite: #FFF;
$colorBlack: #000;
$colorGoldenrod: #FFD444;
$colorPaleOrange1: #F7713B;
$colorPaleOrange2: #D7602E;
$colorPaleOrange3: #9F4623;
$colorBurntOrange: #F36E41;
$colorDuskBlue: #152E32;
$colorTextDarkGray: #939598;
$colorCharcoal: #6D6E71;
$colorCharcoalDark: #545557;
$colorButtonTeal: #27a3a8;
$colorSuccessGreen: #2FD03A;
$colorCoral: #EF5455;


////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
////////////////////////////////////////////////////////////
$fontSigmarOneRegular: 'Sigmar One';
$fontCubano: 'cubano', sans-serif;
$fontProximaNova: 'proxima-nova', sans-serif;