////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorMidnightGray: #444;
$colorLightGray: #DDD;
$colorStoneGray: #AAA;
$colorWhite: #FFF;
$colorBlack: #000;
$colorGoldenrod: #FFD444;
$colorPaleOrange1: #F7713B;
$colorPaleOrange2: #D7602E;
$colorPaleOrange3: #9F4623;
$colorBurntOrange: #F36E41;
$colorDuskBlue: #152E32;

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
////////////////////////////////////////////////////////////
$fontSigmarOneRegular: 'Sigmar One';