@import 'variables';

////////////////////////////////////////////////////////////
////////////////////////////////////////////////// HOME PAGE
////////////////////////////////////////////////////////////
.alert {
	font-size: 18px;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 800px;
	padding: 20px;
}

.landing-page-copy {
	width: 85%;
	margin: 4em auto 2em;
	text-align: center;

	& strong {
		color: $colorTextDarkGray;
		font-size: 1.5em;
	}

	& p {
		color: $colorTextDarkGray;
		font-size: 1.2em;
		font-family: $fontProximaNova;
	}
}

.hunger-minions-counter-container {
	width: 100%;
	background: lighten($colorStoneGray, 20%);
	padding: 20px 0 0;

	& .minion-counter-content {
		width: 680px;
		margin: 0 auto;
		text-align: center;

		& .cyclops-home-graphic {
			height: 90px;
			width: 100px;
			margin-right: .5em;
		}

		& .counter-home-graphic {
			margin-top: 1em;
		}

		& h1 {
			color: $colorTextDarkGray;
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: 5px;
		}
	}
}

.sign-up-button-container {
	margin: 45px auto;
	text-align: center;

	& .sign-up-button {
		width: 250px;
		height: 58px;
		line-height: 48px;
		background-image: url('../images/angle-button-large-teal-middle.png');
		background-repeat: repeat-x;
		position: relative;
		color: $colorWhite;
		font-size: 2.5em;
		font-style: italic;
		letter-spacing: 0.06em;
		text-shadow: 1px 1px darken($colorButtonTeal, 10%);
		margin: 0 auto;
		cursor: pointer;
		
		&:active {
			cursor: pointer;
			background-position: 0 -58px;
			line-height: 62px;
			padding-left: 12px;

			&:before {
				background-position: 0 -58px;
			}

			&:after {
				background-position: -25px -58px;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			height: 58px;
			top: 0;
			background-image: url('../images/angle-button-large-teal-ends.png');
		}

		&:before {
			width: 30px;
			left: -30px;
		}

		&:after {
			background-position: -25px 0;
			width: 40px;
			right: -40px;
		}
	}
}

.flip {
	width: 680px;
	margin: 30px auto 0;
	padding: 0 0 30px;

	& .full-counter {
		@extend .clearfix;

		list-style: none;
		width: 100%;
		padding: 0;
		margin: 0;

		& span {
			float: left;
			line-height: 1.7;
			font-size: 5.5em;
			margin: 0 4px 0 0;
			color: $colorCharcoalDark;
		}

		& .counter-cards {
			float: left;
			margin: 0 5px 0 0;
			padding: 5px 8px;
			min-width: 74px;
			min-height: 106px;
			font-size: 6em;
			border-radius: 2px;
			background: $colorCharcoalDark;
			color: $colorWhite;
			line-height: 1;
			text-align: center;
			position: relative;
			text-shadow: 1px 1px darken($colorCharcoalDark, 15%);
			box-shadow: 2px 2px 1px 0 darken($colorCharcoalDark, 15%);

			&:before,
			&:after {
				position: absolute;
				content: '';
				width: 2px;
				height: 12px;
				left: 2%;
				top: 51%;
				margin: -4px auto 0;
				background: $colorWhite;
				z-index: 1;
			}

			&:after {
				left:98%;
			}

			.card-line {
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				top: 52%;
				margin: 0 auto 0;
				background: darken($colorCharcoalDark, 10%);
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}