////////////////////////////////////////////////////////////
////////////////////////////////////////////////// BOOTSTRAP
////////////////////////////////////////////////////////////
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
// @import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////// PARTIALS
////////////////////////////////////////////////////////////
@import 'variables';
@import 'tags';
@import 'multi-use-classes';
@import 'header-content';
@import 'landing-page';
@import 'input-views'; // Sign In, Sign Up, Reset PW, Settings & Create Group
@import 'dashboard-view';
@import 'group-view';


////////////////////////////////////////////////////////////
//////////////////////////////////////////////// PLAYER VIEW
////////////////////////////////////////////////////////////

.group-id-crumb {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.player-view-header-content {
	@extend .content-header;
	border-bottom: 1px solid $colorCharcoal;
	padding-right: 0;
	width: 93.5%;
	& ul {
		list-style: none;
		float: right;
		padding: 0;
		margin: 15px 0 0;

		& li {
			@extend .angle-button-teal;
			margin-right: 30px;
			padding: 3px 10px;
			display: inline-block;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.player-view-location-banner {
	min-width: 250px;
	text-align: center;

	& svg {
		vertical-align: middle;
	}
}

.player-view-content {
	padding: 25px 75px;
	color: $colorTextDarkGray;
	@extend .clearfix;
}

.player-view-summary {
	width: 43%;
	float: left;

	& > h1, & h3 {
		margin-top: 0;
		margin-bottom: 40px;
	}

	& ul {
		list-style: none;
		margin: 0 auto;
		padding: 0 25px;

		& li {
			& div:first-child {
				display: inline-block;
			}
		}
	}

	& img {
		vertical-align: baseline;
	}
}

.player-summary-stats {
	margin-left: 10px;
	display: inline-block;
	vertical-align: bottom;
}


.player-summary-per-level {
	width: 56%;
	float: right;

	& h3 {
		margin-top: 0;
	}
}

////////////////////////////////////////////////////////////
//////////////////////////////////////// COMPARE GROUPS VIEW
////////////////////////////////////////////////////////////

.compare-groups-header-content {
	@extend .content-header;
	@extend .clearfix;
	border-bottom: 1px solid $colorCharcoal;
	width: 93.5%;
}
.compare-groups-content-container {
	width: 93.5%;
	margin: 0 auto;
	padding: 30px 0;
}
.compare-groups-content {
	color: $colorTextDarkGray;
	width: 90%;
	margin: 0 auto;
	& ul {
		min-height: 400px;
	}

	& td:first-child {
		width: 20%;
	}
	& tbody td:first-child {
		text-align: left;
	}
}

.remove-group-button {
	height: 25px;
	width: 25px;
	margin: -2px 10px 0 -30px;
	padding: 0;
	border-radius: 50%;
	vertical-align: middle;
	background: $colorCoral;
	color: $colorCoral;
	border: none;
	overflow: none;
	display: inline-block;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		height: 4px;
		width: 15px;
		background: $colorWhite;
		right: 5px;
		top: 50%;
		margin-top: -2px;

	}
}

.table-footer {
	padding-left: 50px;
	text-align: left;
	color: lighten($colorDuskBlue, 28%);
}

.print {
	@extend .angle-button-teal;
	float: right;
	margin:20px 20px 0;
	padding: 3px 10px;
	cursor: pointer;
}

.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  margin-bottom: 10px;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;

  &:hover {
  	cursor: pointer;
  	opacity: 0.7;
  }
}
.compare-groups-add-group-template {

	& h3 {
	  font-size: 16px;
	  margin:0 0 0.3rem;
	  font-weight: normal;
	  font-weight:bold;
	}

	& input {
	  border:solid 1px #ccc;
	  border-radius: 5px;
	  padding:7px 14px;
	  margin-bottom:10px
	}
	& input:focus {
	  outline:none;
	  border-color:#aaa;
	}
}


////////////////////////////////////////////////////////////
//////////////////////////////////////// NEW GROUP CODE VIEW
////////////////////////////////////////////////////////////

.group-created-header-container{
	text-align: center;
}

.group-created-header-content{
	height: 100px;
	padding: 30px;

	& h1 {
		margin: 0;
	}
}

.group-created-main-container {
	background: $colorLightGray;
	text-align: center;
	padding: 30px;
}

.player-instructions {
	margin: 0 auto;
	color: $colorCharcoal;
	& p {
		font-size: 1.1em;
		font-family: "proxima-nova", sans-serif;
	}
}

.group-code-box {
	width: 180px;
	margin: 0 auto;
	font-size: 3em;
	font-family: "proxima-nova", sans-serif;
	background: $colorWhite;
	color: $colorCharcoal;
	padding: 5px;
	& input {
		width: 100%;
		text-align: center;
		border: none;
	}
}

.instruction-images {
	@extend .clearfix;
	width: 870px;
	margin: 60px auto;
}

.instruction-image-one, .instruction-image-two {
	float: left;
	& img {
		height: 225px;
		width: 400px;
	}

	& .placeholder-image {
		display: inline-block;
		height: 225px;
		width: 400px;
		background: $colorStoneGray;
	}

	& span {
		vertical-align: top;
		font-size: 1.2em;
	}
}

.instruction-image-one {
	margin-right: 40px;
}

.observer-instructions {
	border-top: 1px solid $colorCharcoal;
	padding: 25px;

	color: $colorCharcoal;
	& p {
		font-size: 1.1em;
		font-family: "proxima-nova", sans-serif;
	}
}

.group-link-box {
	width: 380px;
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
	color: $colorCharcoal;
	background: $colorWhite;

	& input	{
		width: 100%;
		text-align: center;
		border: none;
		font-family: "proxima-nova", sans-serif;
		font-size: 1.1em;
	}
}

.view-group-page {
	display: block;
	margin: 22px auto;
	width: 25%;
	font-size: 1.5em;
	border: none;
	padding: 0 15px 5px;
	border-radius: 6px;
	background: $colorCharcoal;
	color: $colorWhite;
	box-shadow: inset 0 	-5px 	0   	darken($colorCharcoal, 10%),
					  1px 	2px 	1px 0 	darken($colorCharcoal, 25%);

	&:hover {
		margin-top: 23px;
		padding-bottom: 4px;
		background: $colorCharcoalDark;
		box-shadow: inset 0 	-4px 	0   	darken($colorCharcoal, 20%),
						  1px 	2px 	1px 0 	darken($colorCharcoal, 35%);
	}

	&:active {
		margin-top: 25px;
		padding-bottom: 2px;
		outline: none;
		background: darken($colorCharcoalDark, 5%);
		box-shadow: inset 0 	-2px 	0   	darken($colorCharcoal, 30%),
						  1px 	2px 	1px 0 	darken($colorCharcoal, 45%);
	}
}





.sort svg{
	transform: rotate(90deg)
}

.sort path {
	  fill: $colorCharcoalDark;
}

.sorted {
	transform: rotate(180deg)
}
