////////////////////////////////////////////////////////////
/////////////////////////////////////////////////// PARTIALS
////////////////////////////////////////////////////////////
@import 'variables';

////////////////////////////////////////////////////////////
////////////////////////////////////////////////// BOOTSTRAP
////////////////////////////////////////////////////////////
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// TAGS
////////////////////////////////////////////////////////////
body {
    background-color: $colorDuskBlue;
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////// CONTAINERS
////////////////////////////////////////////////////////////

.new-user-login-container {
	width: 50%;
	min-height: 15em;
	margin: 5em auto;
	border: 0.0625em solid black;
	background: $colorWhite;
	padding: 1em;

	& input, & button {
		display: block;
		margin: 1em auto;
		width: 45%;
		font-size: 1.5em;
	}

	& button {
		width: 20%;
	}
}

.new-user-email-input{

}
.new-user-username-input{

}
.new-user-password-input{

}

.new-user-creation-button {

}
