@import 'variables';
@import 'multi-use-classes';

////////////////////////////////////////////////////////////
//////////////////////////////////////// NEW GROUP CODE VIEW
////////////////////////////////////////////////////////////

.group-created-header-container{
	text-align: center;
}

.group-created-header-content{
	height: 100px;
	padding: 30px;

	& h1 {
		margin: 0;
		font-size: 2.5em;
	}
}

.group-created-main-container {
	background: $colorLightGray;
	text-align: center;
	padding: 30px;
}

.player-instructions {
	margin: 0 auto;
	color: $colorCharcoal;
	& p {
		font-size: 1.2em;
		font-family: "proxima-nova", sans-serif;
	}
}

.group-code-box {
	width: 180px;
	margin: 0 auto;
	font-family: "proxima-nova", sans-serif;
	background: $colorWhite;
	color: $colorCharcoal;
	padding: 5px;
	& input {
		font-size: 3em;
		width: 100%;
		text-align: center;
		border: none;
	}
}

.instruction-images {
	@extend .clearfix;
	width: 870px;
	margin: 60px auto;
}

.instruction-image-one, .instruction-image-two {
	float: left;
	& img {
		height: 225px;
		width: 400px;
	}

	& .placeholder-image {
		display: inline-block;
		height: 225px;
		width: 400px;
		background: $colorStoneGray;
	}

	& span {
		vertical-align: top;
		font-size: 1.2em;
	}
}

.instruction-image-one {
	margin-right: 40px;
}

.observer-instructions {
	border-top: 1px solid $colorCharcoal;
	padding: 25px;

	color: $colorCharcoal;
	& p {
		font-size: 1.2em;
		font-family: "proxima-nova", sans-serif;
	}
}

.group-link-box {
	width: 420px;
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
	font-size: 1.2em;
	color: $colorCharcoal;
	background: $colorWhite;

	& input	{
		width: 100%;
		text-align: center;
		border: none;
		font-family: "proxima-nova", sans-serif;
		font-size: 1.1em;
	}
}

.view-group-page {
	display: block;
	margin: 22px auto;
	width: 25%;
	font-size: 1.5em;
	border: none;
	padding: 0 15px 5px;
	border-radius: 6px;
	background: $colorCharcoal;
	color: $colorWhite;
	box-shadow: inset 0 	-5px 	0   	darken($colorCharcoal, 10%),
					  1px 	2px 	1px 0 	darken($colorCharcoal, 25%);

	&:hover {
		margin-top: 23px;
		padding-bottom: 4px;
		background: $colorCharcoalDark;
		box-shadow: inset 0 	-4px 	0   	darken($colorCharcoal, 20%),
						  1px 	2px 	1px 0 	darken($colorCharcoal, 35%);
	}

	&:active {
		margin-top: 25px;
		padding-bottom: 2px;
		outline: none;
		background: darken($colorCharcoalDark, 5%);
		box-shadow: inset 0 	-2px 	0   	darken($colorCharcoal, 30%),
						  1px 	2px 	1px 0 	darken($colorCharcoal, 45%);
	}
}