@import 'variables';
@import 'multi-use-classes';

////////////////////////////////////////////////////////////
//////////////////////////////////////// NEW GROUP CODE VIEW
////////////////////////////////////////////////////////////
.group-created-header-container{
	// text-align: center;
	border-bottom: 1px solid $colorStoneGray;
	@include content-header;
}

.group-created-main-container {
	@extend .clearfix;
	background: $colorLightGray;
	padding: 30px;

	& h2 {
		margin-top: 0;
	}
}

.instruction-list {
	list-style: none;
	height: 100%;
	float: left;
	width: 70px;
	min-height: 270px;
	margin: 0;
	padding: 0;

	& li {
		height: 50px;
		width: 50px;
		line-height: 46px;
		font-size: 2.2em;
		text-align: center;
		color: $colorLightGray;
		background: $colorTextDarkGray;
		border-radius: 100%;
	}

	.instruction-two {
		margin-top: 128px;
	}
	.instruction-three {
		margin-top: 266px;
	}
}

.player-instructions {
	float: left;
	margin: 0 auto;
	& p {
		font-size: 1.2em;
		margin: 15px 0 10px;
		color: $colorCharcoal;
		font-family: "proxima-nova", sans-serif;
	}
}

.group-code-box {
	width: 200px;
	& input {
		width: 100%;
		font-size: 4em;
		border: none;
		color: $colorCharcoal;
		text-align: center;
		font-family: "proxima-nova", sans-serif;
	}
}

.instruction-step-two {
	@extend .clearfix;

	width: 870px;
	margin: 55px auto 60px;
}

.instruction-image-one,
.instruction-image-two {
	float: left;
	& .placeholder-image {
		display: inline-block;
		height: 225px;
		width: 400px;
		background: $colorStoneGray;
	}

	& span {
		vertical-align: top;
		font-size: 1.2em;
	}
}

.instruction-image-one {
	margin-right: 40px;
}

.observer-instructions {
	padding: 15px 0 25px;
	& p {
		margin-top: 0;
		font-size: 1.2em;
		font-family: $fontProximaNova;
	}
}

.group-link-box {
	width: 500px;
	padding: 10px 15px;
	overflow: auto;
	font-size: 1.2em;
	background: $colorWhite;

	& input	{
		width: 100%;
		text-align: right;
		border: none;
		font-family: $fontProximaNova;
		font-size: 1.1em;
	}
}

.group-code-button-container {
	padding: 20px;
	border-top: 1px solid $colorCharcoal;
	background: $colorLightGray;
}
.view-group-page {
	width: 30%;
}