<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Hunger Crunch Tournament</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
   
        <!--////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////// STATIC
        /////////////////////////////////////////////////////////-->
        <header>
            <div class="header-content">
                <div class="header-account-options">
                </div>

                <div class="header-breadcrumb">

                    <a href="http://www.hungercrunch.com/">
                        <img src="../images/breadcrumb-shield.png">
                    </a>

                    <svg
                        version="1.1"
                        class="arrow-2"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px"
                        viewBox="0 0 7.7 16.2"
                        enable-background="new 0 0 7.7 16.2"
                        xml:space="preserve">
                        <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                        c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                        </g>
                    </svg>

                    <span class="shield-home">Tournaments</span>
                </div>

                <div class="nav-container"></div>

                <div class="header-image">
                    <img src="../images/punching-glove.png">
                </div>
            </div>
        </header>

        <!-- LOADING SPINNER -->
        <div class="loading-spinner-focus">
            <div class="loading-spinner-container">
                <img class="loading-spinner-image" src="../images/loading-shield.gif">
                <br/>CRUNCHING...
            </div>
        </div>

        <div class="app-container">
        </div>

        <!--////////////////////////////////////////////////////////
        ////////////////////////////////////////////////// TEMPLATES
        /////////////////////////////////////////////////////////-->

        <!-- template for the landing page -->

        <script type="text/template" class="home-view">
                <div class="landing-page-copy">
                    <strong>A war is being waged against world hunger</strong>
                    <p>For too long, world hunger has destroyed the lives and ruined 
                    the dreams of children around the world. Hunger Crunch gives you 
                    the opportunity to fight back and have some fun at the same time. 
                    Hunger Crunch is a game for and by Rice Bowls, a nonprofit working 
                    to feed orphaned children where the need is greatest. When you play, 
                    you can help provide much-needed food to these awesome kids.</p>
                </div>

                <div class="hunger-minions-counter-container">
                    <div class="minion-counter-content">
                        <img class="cyclops-home-graphic" src="../images/cyclops.gif">
                        <h1>HUNGER MINIONS STOMPED</h1>
                        <div class="flip">
                                    <ul class="full-counter">

                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <span>,</span>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <span>,</span>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                        <li class="counter-cards">
                                            <div class="card-line"></div>
                                        </li>
                                    </ul>
                        </div>
                    </div>
                </div>
                <div class="sign-up-button-container">
                    <div class="sign-up-button">Sign Up</div>
                </div>
        </script>

        <script type="text/template" class="counter-total-template">

                <div class="card-line"></div>

        </script>

        <!-- template for the sign up view -->
        <script type="text/template" class="sign-up-view">
            <div class="sign-up-view-header">
                <div class="h1-flag">
                <span class="breadcrumb-back">Home</span>
                <svg
                  version="1.1"
                  class="arrow-2"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px"
                  viewBox="0 0 7.7 16.2"
                  enable-background="new 0 0 7.7 16.2"
                  xml:space="preserve">
                  <g>
                    <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                      c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                  </g>
                </svg>
                Sign Up</div>
            </div>
            <div class="sign-up-view-content">
                <div class="error-report"></div>
                <input class="new-user-username-input" placeholder="Name or Organization">
                <div class="error-report-email"></div>
                <input class="new-user-email-input" placeholder="Your Email" type="email">
                <div class="error-report-first-password"></div>
                <input class="new-user-password-input" placeholder="Password" type="password">
                <div class="error-report-confirm-password"></div>
                <input class="new-user-password-verification-input" placeholder="Confirm Password" type="password">
                <button class="new-user-creation-button button" >Sign Up
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
                <div class="error-report-sign-up"></div>
            </div>
        </script>

        <script type="text/template" class="sign-up-view-errors-template">
            <div><%=message%></div>
            <div>Please create a new account or recover your previous account <span class="recover-account">here</span></div>
        </script>

        <!-- template for the sign in view -->
        <script type="text/template" class="sign-in-view">
            <div class="sign-in-view-header">
                <div class="h1-flag">
                <span class="breadcrumb-back">Home</span>
                <svg
                  version="1.1"
                  class="arrow-2"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px"
                  viewBox="0 0 7.7 16.2"
                  enable-background="new 0 0 7.7 16.2"
                  xml:space="preserve">
                  <g>
                    <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                      c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                  </g>
                </svg>
                Sign In</div>
            </div>
            <div class="sign-in-view-content">
                <div class="error-report"></div>
                <input class="existing-user-username-input" placeholder="Username">
                <input class="existing-user-password-input" placeholder="Password" type="password">
                <button class="button existing-user-login-button" >Sign In
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
                <button class="button forgot-password-button">Forgot Password?</button>
            </div>
        </script>
        <!-- reset password login screen view -->
         <script type="text/template" class="reset-password-view-template">
            <div class="password-reset-view-header">
                <div class="h1-flag">
                <span class="breadcrumb-back">Sign In</span>
                <svg
                  version="1.1"
                  class="arrow-2"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px"
                  viewBox="0 0 7.7 16.2"
                  enable-background="new 0 0 7.7 16.2"
                  xml:space="preserve">
                  <g>
                    <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                      c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                  </g>
                </svg>
                Reset Password</div>
            </div>
            <div class="password-reset-view-content">
                <div class="error-report"></div>
                <input class="lookup-email-input" placeholder="Account Email">
                <button class="button password-reset-button">Reset Password
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
            </div>
        </script>


        <!-- template for the single group view -->
        <script type="text/template" class="group-view-template">
            <div class="group-view-header-content">
                <div class="group-view-location-banner h1-flag">
                    <%= name ? name.substring(0,18) + (name.length > 18 ? "..." : "") : GROUPNAME %>
                </div>
                    <div class="group-information">
                        <ul class="group-view-details">
                            <li>GROUP CODE: <%=groupCode%></li>
                            <li>
                            <%=startDate%> - <input class="date-changer"placeholder="<%=endDate%>" readonly/>
                            </li>
                            <li>32 Members</li>
                        </ul>
                        <ul class="group-view-options">
                            <% if (Parse.User.current()) { %>
                                <li class="change-group-dates">CHANGE DATES</li>
                                <li class="save-dates">SAVE DATES?</li>
                                <li class="edit-group-members">EDIT MEMBERS</li>
                                <li class="share-code">Share Group</li>
                                <li class="print-button">Print</li>
                            <% } else { %>
                                <li class="print-button">Print</li>
                            <% } %>
                        </ul>
                    </div>
            </div>

            <div class="group-summary-info">
            </div>
            <div class="group-stats-container">
                <h2>PLAYER STATISTICS</h2>
                <div class="group-stats-drop-down" id="single-group-table">
                    <table>
                        <thead>
                            <tr>
                                <td>PLAYER NAME</td>
                                <td>
                                    <button class="sort" data-sort="minions-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="minion-image" src="../images/minion-terrarium.png"></img>
                                    <span>MINIONS STOMPED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="coins-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="coins-image" src="../images/coin-stack.png"></img>
                                    <span>COINS COLLECTED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="collectibles-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="collectibles-image" src="../images/treasure-chest.png"></img>
                                    <span>COLLECTIBLES FOUND</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="list player-list">
                            
                        </tbody>
                    </table>

                </div>

            </div>
        </script>

        <!-- template for group page group totals info -->
        <script type="text/template" class="group-view-group-summary-view">
            <h2>GROUP SUMMARY</h2>
            <ul>
                <li>
                    <div class="group-summary-container">
                        <img class="minion-image" src="../images/minion-terrarium.png"></img>
                        <div class="group-summary-stats">
                            <h1><%= minions %></h1>
                            <h4>MINIONS STOMPED</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-summary-container">
                        <img class="coins-image" src="../images/coin-stack.png"></img>
                        <div class="group-summary-stats">
                            <h1><%= coins %></h1>
                            <h4>COINS COLLECTED</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-summary-container">
                        <img class="meals-image" src="../images/bowl.png"></img>
                        <div class="group-summary-stats">
                            <h1>0</h1>
                            <h4>MEALS PROVIDED</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </script>

        <!-- template for the group page player instances -->
        <script type="text/template" class="group-view-player-view">
            <tr>
                <td class="player-name"><%= user.attributes.username.length > 15 ? user.attributes.username.substring(0,15)+"..." : user.attributes.username %></td>
                <td class="minions-data"><%= minionsStomped %></td>
                <td class="coins-data"><%= coinsCollected %></td>
                <td class="collectibles-data"><%= collectibles %></td>
            </tr>
        </script>

        <!-- template for the single player view -->
        <script type="text/template" class="player-view">
            <div class="player-view-header-content">
                    <div class="player-view-location-banner h1-flag">
                    <span class='breadcrumb-back'>
                        <%=groupName > 12 ? groupName.substring(0,12)+"..." : groupName%>
                    </span>
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                    <%=(playerID.length > 12) ? playerID.substring(0,12)+"..." : playerID%>
                    </div>
                    <ul class="player-view-nav">
                    <% if (Parse.User.current()) { %>
                        <li class="remove-player-button">REMOVE MEMBER</li>
                        <li class="print-button">print</li>

                    <% } else { %>
                        <li class="print-button">Print</li>
                    <% } %>
                    </ul>
            </div>
            <div class="player-view-content">
                <div class="player-view-summary">
                <h3>PLAYER SUMMARY</h3>
                    
                </div>
                <div class="player-summary-per-level" id="player-summary-table">
                    <h3>STATISTICS PER LEVEL</h3>

                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <button class="sort" data-sort="level-play-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <span>LEVEL</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="level-minions-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="minion-image" src="../images/minion-terrarium.png"></img>
                                    <span>MINIONS STOMPED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="level-coins-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="coins-image" src="../images/coin-stack.png"></img>
                                    <span>COINS COLLECTED</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="list player-stats-list">
                            

                        </tbody>
                    </table>
                </div>

            </div>
        </script>

        <!-- template for player view player stats -->
        <script type="text/template" class="player-view-player-stats-view">
            <tr>
                <td class="level-play-data"><%= levelID.slice(-2) %></td>
                <td class="level-minions-data"><%= minionsStomped %></td>
                <td class="level-coins-data"><%= coinsCollected %></td>
            </tr>
        </script>

        <!-- template for player view player summary -->
        <script type="text/template" class="player-view-player-summary-view">
                    <ul>
                        <li>
                            <img class="minion-image" src="../images/minion-terrarium.png"></img>
                            <div class="player-summary-stats">
                                <h1><%= minions %></h1>
                                <h4>MINIONS STOMPED</h4>
                            </div>
                        </li>
                        <li>
                            <img class="coins-image" src="../images/coin-stack.png"></img>
                            <div class="player-summary-stats">
                                <h1><%= coins %></h1>
                                <h4>COINS COLLECTED</h4>
                            </div>
                        </li>
                        <li>
                            <img class="meals-image" src="../images/bowl.png"></img>
                            <div class="player-summary-stats">
                                <h1><%= meals %></h1>
                                <h4>MEALS PROVIDED</h4>
                            </div>
                        </li>
                        <li>
                            <img class="collectibles-image" src="../images/treasure-chest.png"></img>
                            <div class="player-summary-stats">
                                <h1><%= collectibles %></h1>
                                <h4>COLLECTIBLES FOUND</h4>
                            </div>
                        </li>

                    </ul>
        </script>

        <!-- template for the dashboard view -->
        <script type="text/template" class="dashboard-view">
            <div class="dashboard-header">
                <div class="dashboard-location h1-flag">DASHBOARD</div>
                <div class="dashboard-nav">
                    <ul>
                        <li class="create-group-button">Create Group</li>
                        <li class="compare-groups-button">Compare Groups</li>
                    </ul>
                </div>
            </div>
        <div class="dashboard-group-content">

        </div>
        </script>

        <!-- template for groups shown on dashboard view -->
        <script type="text/template" class="dashboard-group-view-template">
            <div class="dashboard-group">
                    <div class="group-details-container">
                        <div class="groupname-and-code">
                            <h2><%= groupID.get('name').substring(0, 10) + (groupID.attributes.name.length > 20 ? "..." : "") %></h2>
                            <p><%= groupID.get("groupCode")  %></p>
                        </div>

                        <ul class="dashboard-group-details">
                            <li><%= groupID.get('startDate').toString().substring(0,10) %> - <%= groupID.get('endDate').toString().substring(0,10) %></li>
                            <li><%= players %> Players</li>
                        </ul>
                    </div>
                    <div class="dashboard-group-statistics">
                        <div class="group-minion-count">
                            <img class="minion-image" src="../images/minion-terrarium.png"></img>
                            <h2 class="minion-stat"><%= minions %></h2>
                        </div>
                        <div class="group-coins-count">
                            <img class="coins-image" src="../images/coin-stack.png"></img>
                            <h2 class="coins-stat"><%= coins %></h2>
                        </div>
                        <div class="group-meals-provided">
                            <img class="meals-image" src="../images/bowl.png"></img>
                            <h2 class="meals-stat">0</h2>

                        </div>
                    </div>
                </div>
        </script>


        <!-- template for no available groups placeholder view -->
        <script type="text/template" class="placeholder-view">
           
                <h1>Hello There!</h1>
                <h2>It looks like you dont currently have any groups to show. If you haven&#39t already, go ahead and click on the create groups button. If you have recently made a group, it can take five to ten minutes to grab the information, so check back soon. Good luck crunching hunger!</h2>
            

        </script>

        <!-- template for the settings view -->
        <script type="text/template" class="settings-view">
            <div class="settings-header">
                <div class="settings-banner h1-flag">Settings</div>
            </div>

            <div class="settings-container">
                <div class="settings-content">
                    <div class="settings-username">Username: </div>
                    <input class="user-username" placeholder="<%=username%>" readonly/>
                    <div class="settings-email">Email: </div>
                    <span></span>
                    <input class="user-email" placeholder="<%= email %>" readonly/>
                    <button class="button edit-email">Edit Email
                        <svg
                          version="1.1"
                          class="arrow-2"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px"
                          viewBox="0 0 7.7 16.2"
                          enable-background="new 0 0 7.7 16.2"
                          xml:space="preserve">
                          <g>
                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                              c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                          </g>
                        </svg>
                    </button>
                    <button class="button save-email">Save Email
                        <svg
                          version="1.1"
                          class="arrow-2"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px"
                          viewBox="0 0 7.7 16.2"
                          enable-background="new 0 0 7.7 16.2"
                          xml:space="preserve">
                          <g>
                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                              c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                          </g>
                        </svg>
                    </button>

                    <button class="button reset-password">Reset Password
                        <svg
                          version="1.1"
                          class="arrow-2"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px"
                          viewBox="0 0 7.7 16.2"
                          enable-background="new 0 0 7.7 16.2"
                          xml:space="preserve">
                          <g>
                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                              c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                          </g>
                        </svg>
                    </button>
                    <button class="button return-to-dashboard">Back to Dashboard
                        <svg
                          version="1.1"
                          class="arrow-2"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px"
                          viewBox="0 0 7.7 16.2"
                          enable-background="new 0 0 7.7 16.2"
                          xml:space="preserve">
                          <g>
                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                              c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                          </g>
                        </svg>
                    </button>
                    <div class="password-reset-confirmation"></div
                </div>
            </div>
        </script>
          <!-- template for creating groups -->
        <script type="text/template" class="create-group-view-template">
            <div class="create-group-view-header">
                <div class="h1-flag">Create Group</div>
            </div>
            <div class="create-group-view-content">
                    <div class="error-report"></div>
                    <input class="new-group-name-input" placeholder="Group Name">
                    <div class="error-report-start-date"></div>
                    <input type="text" class="new-group-start-date-input start-date-picker" placeholder="Start Date" readonly>
                    <div class="start-date-container"></div>
                    <div class="error-report-end-date"></div>
                    <input class="new-group-end-date-input end-date-picker" placeholder="End Date" readonly>
                    <div class="end-date-container"></div>
                <button class="new-group-creation-button button">Create Group
                    <svg
                        version="1.1"
                        class="arrow-2"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px"
                        viewBox="0 0 7.7 16.2"
                        enable-background="new 0 0 7.7 16.2"
                        xml:space="preserve">
                        <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                        c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                        </g>
                    </svg>
                </button>
            </div>
        </script>

        <!-- template for the nav bar if no user signed in -->
        <script type="text/template" class="no-user-nav-view">
                <li class="sign-in-button">Sign In</li>
                <li class="sign-up-button">Sign Up</li>
        </script>

        <!-- template for the nav bar if user is signed in -->
        <script type="text/template" class="user-nav-view">
                <li class="dashboard-button">DASHBOARD</li>
                <li class="settings-button">SETTINGS</li>
                <li class="sign-out-button">SIGN OUT</li>
        </script>

        <!-- template for the nav options if user signed in -->
        <script type="text/template" class="user-nav-welcome-template">
            <p>Welcome back, <span class="header-username"><%=shortName%></span></p>
        </script>

        <!-- template for a new group's code generation page -->
        <script type="text/template" class="group-view-code-template">
            <div class="group-created-header-container">
                <div class="group-created-header-content h1-flag">
                    <%= group %> Group Code
                </div>
            </div>
            <div class="group-created-main-container">
                    <h2>Instructions</h2>
                    <ul class="instruction-list">
                        <li class="instruction-one">1</li>
                        <li class="instruction-two">2</li>
                        <li class="instruction-three">3</li>
                    </ul>
                <div class="player-instructions">
                    <p>Give the following Group Code to the players in your group:</p>
                    <div class="group-code-box">
                        <input type="text" value="<%= code %>" class="group-code" readonly="readonly">
                    </div>
                    <div class="instruction-step-two">
                        <p>Have each player enter the Group Code in their Hunger Crunch game:</p>
                        <div class="instruction-image-one">
                            <img src="../images/join-group-instructs.png">
                        </div>
                    </div>
                    <div class="observer-instructions">
                        <p>Copy and share the following link with people that would like to observe the group:</p>
                        <div class="group-link-box">
                            <input type="text" value="http://www.hungercrunch.com/#tournament/group/<%= code %>" class="group-link"readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-code-button-container">    
                <button class="view-group-page button">VIEW THE GROUP PAGE
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
            </div>

        </script>
        <!-- template for the compare groups view -->
        <script type="text/template" class="compare-groups-view-template">
            <div class="compare-groups-header-content">
                <div class="compare-groups-location-banner h1-flag">COMPARE GROUPS</div>
                <div class="print">Print</div>
            </div>
            <div class="compare-groups-content-container">
                <div class="compare-groups-content" id="compare-groups-table">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <button class="sort" data-sort="compare-group-name">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <span>GROUP NAME</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="compare-minions-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="minion-image" src="../images/minion-terrarium.png"></img>
                                    <span>MINIONS STOMPED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="compare-coins-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="coins-image" src="../images/coin-stack.png"></img>
                                    <span>COINS COLLECTED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="compare-meals-data">
                                        <svg
                                            version="1.1"
                                            class="arrow-2"
                                            id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px"
                                            viewBox="0 0 7.7 16.2"
                                            enable-background="new 0 0 7.7 16.2"
                                            xml:space="preserve">
                                            <g>
                                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                                            c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <img class="meals-image" src="../images/bowl.png"></img>
                                    <span>MEALS PROVIDED</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="list compare-list">
                        <!-- place where player group totals will be appended -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="table-footer" colspan="4">ADD A GROUP</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </script>
        <!-- template for adding in groups the user has created -->
        <script type="text/template" class="compare-groups-user-groups-template">
            <tr <%= (groupID.get("name").length > 15 ? 'title="' + groupID.get("name") + '"' : "") %>>
                <td class="compare-group-name">
                    <button class="remove-group-button"><%= groupID.get("name") %></button>
                    <%= groupID.get("name").substring(0, 15) + (groupID.get("name").length > 15 ? "..." : "") %>
                </td>
                <td class="compare-minions-data"><%= minions %></td>
                <td class="compare-coins-data"><%= coins %></td>
                <td class="compare-meals-data">14</td>
            </tr>
        </script>

        <!-- template for adding a group to the compare groups view -->
        <script type="text/template" class="compare-groups-add-group-template">

            <div id="avaialble-group-names">

                <input class="search" placeholder="Search" />
                <button class="sort" data-sort="compare-group-name-search">SORT BY NAME</button>
                <ul class="list add-list">
                </ul>
            </div>
        </script>

        <!-- template for drop down list of groups to add to compare list -->
        <script type="text/template" class="compare-groups-added-group-template">
                  <li class="compare-group-item">
                    <h3 class="compare-group-name-search"><%= groupID.get("name") %></h3>
                    <p class="valid">Live</p>
                  </li>
        </script>

        <script type="text/template" class="alert-template">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= message %>
            </div>
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/moment/moment.js"></script>
        <script src="../bower_components/pickadate/lib/compressed/picker.js"></script>
        <script src="../bower_components/pickadate/lib/compressed/picker.date.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <script src="../bower_components/list.js/dist/list.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <script type="text/javascript" src="//use.typekit.net/pug4efg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/create-role.js"></script>
        <script src="scripts/model.js"></script>
        <script src="scripts/home-view.js"></script>
        <script src="scripts/user-nav-view.js"></script>
        <script src="scripts/sign-up-view.js"></script>
        <script src="scripts/sign-in-view.js"></script>
        <script src="scripts/pass-reset-view.js"></script>
        <script src="scripts/dashboard-view.js"></script>
        <script src="scripts/new-group-code-view.js"></script>
        <script src="scripts/settings-view.js"></script>
        <script src="scripts/create-group-view.js"></script>
        <script src="scripts/compare-groups-view.js"></script>
        <script src="scripts/group-view.js"></script>
        <script src="scripts/player-view.js"></script>
        <script src="scripts/app-router.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
