<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Hunger Crunch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
        <!--////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////// STATIC
        /////////////////////////////////////////////////////////-->
        <header>
            <div class="header-content">
                <div class="header-account-options">
                    
                </div>
                <div class="header-breadcrumb">
                    <a href="http://www.hungercrunch.com/"><img src="../images/breadcrumb-shield.png"></a>
                     <svg
                       version="1.1"
                       class="arrow-2"
                       id="Layer_1"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       x="0px" y="0px"
                       viewBox="0 0 7.7 16.2"
                       enable-background="new 0 0 7.7 16.2"
                       xml:space="preserve">
                       <g>
                         <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                           c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                       </g>
                     </svg>
                     <a href="http://localhost:9000/">Tournaments</a>
                </div>
                <div class="nav-container"></div>
                <div class="header-image">
                    <img src="../images/punching-glove.png">
                </div>
            </div>
        </header>


        <div class="app-container"></div>
        


        <!--////////////////////////////////////////////////////////
        ////////////////////////////////////////////////// TEMPLATES
        /////////////////////////////////////////////////////////-->

        <!-- template for the landing page -->

        <script type="text/template" class="home-view">
                <div class="landing-page-copy">
                    <strong>A war is being waged against world hunger</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

                <div class="hunger-minions-counter-container">
                    <div class="minion-counter-content">
                        <img class="cyclops-home-graphic" src="../images/cyclops.gif">
                        <h3>HUNGER MINIONS STOMPED</h3>
                        <div id="flip-counter" class="flip-counter"></div>
                    </div>
                </div>
                <div class="sign-up-button-container">
                    <div class="sign-up-button">Sign Up</div>
                </div>
        </script>

        <!-- template for the sign up view -->
        <script type="text/template" class="sign-up-view">
            <div class="sign-up-view-header">
                <div class="h1-flag">Sign Up</div>
            </div>
            <div class="sign-up-view-content">
                <input class="new-user-email-input" placeholder="Your Email" type="email">
                <input class="new-user-username-input" placeholder="Name or Organization">
                <input class="new-user-password-input" placeholder="Password" type="password">
                <input class="new-user-password-verification-input" placeholder="Confirm Password" type="password">
                <button class="button new-user-creation-button" disabled="true">Sign Up
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
            </div>
        </script>
        <!-- template for the sign in view -->
        <script type="text/template" class="sign-in-view">
            <div class="sign-in-view-header">
                <div class="h1-flag">Sign In</div>
            </div>
            <div class="sign-in-view-content">
                <div class="error-report"></div>
                <input class="existing-user-username-input" placeholder="Username">
                <input class="existing-user-password-input" placeholder="Password" type="password">
                <button class="button existing-user-login-button" >Sign In
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
                <button class="forgot-password-button">Forgot Password?</button>
            </div>
        </script>

        <!-- reset password login screen view -->
         <script type="text/template" class="reset-password-view">
            <input class="lookup-email-input" placeholder="Account Email">
            <button class="button reset-password-button" >Reset Email</button>
        </script>

        
        <!-- template for the single group view -->
        <script type="text/template" class="group-view-template">
            <div class="group-view-header-content">
                <div class="group-view-location-banner h1-flag">
                <%=groupName ? groupName:GROUPNAME%>
 
                </div>

                    <ul class="group-view-details">
                        <li>GROUP CODE: <%=groupID%></li>
                        <li>
                        <%=startDate%> - <input class="date-changer"placeholder="<%=endDate%>" readonly/>
                        </li>
                        <li>32 Members</li>
                    </ul>

                    <ul class="group-view-options">
                        <li class="change-group-dates">CHANGE DATES</li>
                        <li class="save-dates">SAVE DATES?</li>
                        <li class="edit-group-members">EDIT MEMBERS</li>
                    </ul>
            </div>

            <div class="group-summary-info">
                <h3>GROUP SUMMARY</h3>
                <ul>
                    <li>
                        <img class="minion-image" src="../images/minion-terrarium.png"></img>
                        <div class="group-summary-stats">
                            <h1>3,120</h1>
                            <h4>MINIONS STOMPED</h4>
                        </div>
                    </li>
                    <li>
                        <img class="coins-image" src="../images/coin-stack.png"></img>
                        <div class="group-summary-stats">
                            <h1>312,114</h1>
                            <h4>COINS COLLECTED</h4>
                        </div>
                    </li>
                    <li>
                        <img class="meals-image" src="../images/bowl.png"></img>
                        <div class="group-summary-stats">
                            <h1>203</h1>
                            <h4>MEALS PROVIDED</h4>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="group-stats-container">
                <h3>PLAYER STATISTICS</h3>
                <div class="group-stats-drop-down" id="single-group-table">
                    <table>
                        <thead>
                            <tr>
                                <td>PLAYER NAME</td>
                                <td>
                                    <button class="sort" data-sort="minions-data"></button>
                                    <img class="minion-image" src="../images/minion-terrarium.png"></img>
                                    <span>MINIONS STOMPED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="coins-data"></button>
                                    <img class="coins-image" src="../images/coin-stack.png"></img>
                                    <span>COINS COLLECTED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="collectibles-data"></button>
                                    <img class="collectibles-image" src="../images/treasure-chest.png"></img>
                                    <span>COLLECTIBLES FOUND</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td class="player-name">SAM</td>
                                <td class="minions-data">400</td>
                                <td class="coins-data">3,200</td>
                                <td class="collectibles-data">14</td>
                            </tr>
                            <tr>
                                <td class="player-name">BOB</td>
                                <td class="minions-data">300</td>
                                <td class="coins-data">3,100</td>
                                <td class="collectibles-data">13</td>
                            </tr>
                            <tr>
                                <td class="player-name">BILL</td>
                                <td class="minions-data">200</td>
                                <td class="coins-data">3,000</td>
                                <td class="collectibles-data">15</td>
                            </tr>

                            <tr>
                                <td class="player-name">SUPERLONG NAME</td>
                                <td class="minions-data">100</td>
                                <td class="coins-data">200</td>
                                <td class="collectibles-data">16</td>
                            </tr>

                            <tr>
                                <td class="player-name">SUPERLONG NAME</td>
                                <td class="minions-data">99</td>
                                <td class="coins-data">199</td>
                                <td class="collectibles-data">17</td>
                            </tr>

                            <tr>
                                <td class="player-name">SUPERLONG NAME</td>
                                <td class="minions-data">98</td>
                                <td class="coins-data">198</td>
                                <td class="collectibles-data">18</td>
                            </tr>

                            <tr>
                                <td class="player-name">SUPERLONG NAME</td>
                                <td class="minions-data">97</td>
                                <td class="coins-data">197</td>
                                <td class="collectibles-data">19</td>
                            </tr>

                            <tr>
                                <td class="player-name">SUPERLONG NAME</td>
                                <td class="minions-data">96</td>
                                <td class="coins-data">196</td>
                                <td class="collectibles-data">21</td>
                            </tr>

                            <tr>
                                <td class="player-name">SUPERLONG NAME</td>
                                <td class="minions-data">95</td>
                                <td class="coins-data">195</td>
                                <td class="collectibles-data">22</td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>

            </div>
        </script>

        <!-- template for the single player view -->
        <script type="text/template" class="player-view">
            <div class="player-view-header-content">
                    <div class="player-view-location-banner h1-flag"><span><%=groupID%></span> 
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                    <%=playerID%></div>

                    <div class="remove-player-button">REMOVE MEMBER</div>
            </div>
            <div class="player-view-content">
                <div class="player-view-summary">
                    <h3>PLAYER SUMMARY</h3>
                    <ul>
                        <li>
                            <img class="minion-image" src="../images/minion-terrarium.png"></img>
                            <div class="player-summary-stats">
                                <h1>3,120</h1>
                                <h4>MINIONS STOMPED</h4>
                            </div>
                        </li>
                        <li>
                            <img class="coins-image" src="../images/coin-stack.png"></img>
                            <div class="player-summary-stats">
                                <h1>324,120</h1>
                                <h4>COINS COLLECTED</h4>
                            </div>
                        </li>
                        <li>
                            <img class="meals-image" src="../images/bowl.png"></img>
                            <div class="player-summary-stats">
                                <h1>120</h1>
                                <h4>MEALS PROVIDED</h4>
                            </div>
                        </li>
                        <li>
                            <img class="collectibles-image" src="../images/treasure-chest.png"></img>
                            <div class="player-summary-stats">
                                <h1>12</h1>
                                <h4>COLLECTIBLES FOUND</h4>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="player-summary-per-level" id="player-summary-table">
                    <h3>STATISTICS PER LEVEL</h3>

                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <button class="sort" data-sort="level-play-data"></button>
                                    <span>LEVEL</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="level-minions-data"></button>
                                    <img class="minion-image" src="../images/minion-terrarium.png"></img>
                                    <span>MINIONS STOMPED</span>
                                </td>
                                <td>
                                    <button class="sort" data-sort="level-coins-data"></button>
                                    <img class="coins-image" src="../images/coin-stack.png"></img>
                                    <span>COINS COLLECTED</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td class="level-play-data">1</td>
                                <td class="level-minions-data">40</td>
                                <td class="level-coins-data">345</td>
                            </tr>

                            <tr>
                                <td class="level-play-data">2</td>
                                <td class="level-minions-data">1402</td>
                                <td class="level-coins-data">77</td>
                            </tr>

                            <tr>
                                <td class="level-play-data">3</td>
                                <td class="level-minions-data">508</td>
                                <td class="level-coins-data">34,405</td>
                            </tr>

                            <tr>
                                <td class="level-play-data">4</td>
                                <td class="level-minions-data">162</td>
                                <td class="level-coins-data">13,405</td>
                            </tr>

                            <tr>
                                <td class="level-play-data">5</td>
                                <td class="level-minions-data">290</td>
                                <td class="level-coins-data">43,405</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </script>

        <!-- template for the dashboard view -->
        <script type="text/template" class="dashboard-view">
            <div class="dashboard-header">
                <div class="dashboard-location h1-flag">DASHBOARD</div>
                <div class="dashboard-nav">
                    <ul>
                        <li class="create-group-button">Create Group</li>
                        <li class="compare-groups-button">Compare Groups</li>
                    </ul>
                </div>
            </div>
        <div class="dashboard-group-content">
            
            <div class="test-group">
                <div class="group-details-container">
                    <div class="groupname-and-code">
                        <h2>Group Name</h2>
                        <p>Group Code</p>
                    </div>

                    <ul class="dashboard-group-details">
                        <li>6/30/14 - 7/30/14</li>
                        <li>32 Players</li>
                    </ul>
                </div>
                <div class="dashboard-group-statistics">
                    <div class="group-minion-count">
                        <img class="minion-image" src="../images/minion-terrarium.png"></img>
                        <h2 class="minion-stat">354</h2>
                    </div>
                    <div class="group-coins-count">
                        <img class="coins-image" src="../images/coin-stack.png"></img>
                        <h2 class="coins-stat">29,100</h2>

                    </div>
                    <div class="group-meals-provided">
                        <img class="meals-image" src="../images/bowl.png"></img>
                        <h2 class="meals-stat">16</h2>

                    </div>
                </div>
            </div>

            <div class="test-group">
                <div class="group-details-container">
                    <div class="groupname-and-code">
                        <h2>Group Name</h2>
                        <p>Group Code</p>
                    </div>

                    <ul class="dashboard-group-details">
                        <li>6/30/14 - 7/30/14</li>
                        <li>32 Players</li>
                    </ul>
                </div>
                <div class="dashboard-group-statistics">
                    <div class="group-minion-count">
                        <img class="minion-image" src="../images/minion-terrarium.png"></img>
                        <h2 class="minion-stat">354</h2>
                    </div>
                    <div class="group-coins-count">
                        <img class="coins-image" src="../images/coin-stack.png"></img>
                        <h2 class="coins-stat">29,100</h2>

                    </div>
                    <div class="group-meals-provided">
                        <img class="meals-image" src="../images/bowl.png"></img>
                        <h2 class="meals-stat">16</h2>

                    </div>
                </div>
            </div>

            <div class="test-group">
                <div class="group-details-container">
                    <div class="groupname-and-code">
                        <h2>Group Name</h2>
                        <p>Group Code</p>
                    </div>

                    <ul class="dashboard-group-details">
                        <li>6/30/14 - 7/30/14</li>
                        <li>32 Players</li>
                    </ul>
                </div>
                <div class="dashboard-group-statistics">
                    <div class="group-minion-count">
                        <img class="minion-image" src="../images/minion-terrarium.png"></img>
                        <h2 class="minion-stat">354</h2>
                    </div>
                    <div class="group-coins-count">
                        <img class="coins-image" src="../images/coin-stack.png"></img>
                        <h2 class="coins-stat">29,100</h2>

                    </div>
                    <div class="group-meals-provided">
                        <img class="meals-image" src="../images/bowl.png"></img>
                        <h2 class="meals-stat">16</h2>

                    </div>
                </div>
            </div>

        </div>
        </script>
        <!-- template for the settings view -->
        <script type="text/template" class="settings-view">
            <div class="settings-header">
                <div class="settings-banner h1-flag">Settings</div>
            </div>

            <div class="settings-container">
                <div class="settings-content">
                    <div>Username: </div>
                    <input class="user-username" placeholder="<%=username%>" readonly/>
                    <div>Email: </div><span></span>
                    <input class="user-email" placeholder="<%= email %>" readonly/>
                    <button class="edit-email">Edit Email
                        <svg
                          version="1.1"
                          class="arrow-2"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px"
                          viewBox="0 0 7.7 16.2"
                          enable-background="new 0 0 7.7 16.2"
                          xml:space="preserve">
                          <g>
                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                              c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                          </g>
                        </svg>
                    </button>
                    <button class="save-email">Save Email
                        <svg
                          version="1.1"
                          class="arrow-2"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px"
                          viewBox="0 0 7.7 16.2"
                          enable-background="new 0 0 7.7 16.2"
                          xml:space="preserve">
                          <g>
                            <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                              c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                          </g>
                        </svg>
                    </button>
                    
                    <button class="reset-password">Reset Password</button>
                </div>
            </div>
        </script>
                

          <!-- template for creating groups -->
        <script type="text/template" class="create-group-view-template">

            <input class="new-group-name-input" placeholder="Group Name">
            <input type="text" class="new-group-start-date-input start-date-picker" placeholder="Start Date" readonly>
            <div class="start-date-container"></div>
            <input class="new-group-end-date-input end-date-picker" placeholder="End Date" readonly>
            <div class="end-date-container"></div>
            <button class="button new-group-creation-button">Create Group</button>
        </script>

        <!-- template for the nav bar if no user signed in -->
        <script type="text/template" class="no-user-nav-view">
            <ul>
                <li class="sign-in-button">Sign In</li>
                <li class="sign-up-button">Sign Up</li>
            </ul>
        </script>
        <!-- template for the nav options if user signed in -->
        <script type="text/template" class="user-nav-welcome-template">
            <p>Welcome back, <span><%=username%></span></p>
            
        </script>

        <!-- template for the nav bar if user is signed in -->
        <script type="text/template" class="user-nav-view">
            <ul>
                <li class="dashboard-button">DASHBOARD</li>
                <li class="settings-button">SETTINGS</li>
                <li class="sign-out-button">SIGN OUT</li>
            </ul>
        </script>


        <!-- template for a new group's code generation page -->
        <script type="text/template" class="group-view-code-template">
            <div class="group-created-header-container">
                <div class="group-created-header-content">
                    <h1>GROUP CREATED FOR "WEST HILLS"</h1>
                </div>
            </div>
            <div class="group-created-main-container">
                <div class="player-instructions">
                    <h4>PLAYER INSTRUCTIONS</h4>
                    <p>Give the following code to the players in your group:</p>
                    <div class="group-code-box">
                        <input type="text" value="<%=code%>" class="group-code" readonly="readonly">
                    </div>
                </div>
                <div class="instruction-images">
                    <div class="instruction-image-one">
                        <span>1</span>
                        <img src="../images/game-screen.png">
                    </div>
                    <div class="instruction-image-two">
                        <span>2</span>
                        <div class="placeholder-image"></div>
                    </div>
                </div>
                <div class="observer-instructions">
                    <h4>SHARE LINK FOR OBSERVERS</h4>
                    <p>Give the following link to people that would like to observe the group:</p>
                    <div class="group-link-box">
                        <input type="text" value="http://www.hungercrunch.com/tournaments/<%=group%>" class="group-link"readonly="readonly">
                    </div>
                </div>
                <button class="view-group-page">VIEW THE GROUP PAGE
                    <svg
                      version="1.1"
                      class="arrow-2"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px" y="0px"
                      viewBox="0 0 7.7 16.2"
                      enable-background="new 0 0 7.7 16.2"
                      xml:space="preserve">
                      <g>
                        <path d="M7.5,7.4L1.3,0.3C1.1,0,0.8-0.1,0.5,0.1C0.2,0.2,0,0.5,0,0.9l1.8,7.8L0,15.3c0,0.4,0.2,0.7,0.5,0.8c0.1,0,0.2,0.1,0.3,0.1
                          c0.2,0,0.4-0.1,0.5-0.3l6.2-7.2c0.1-0.2,0.2-0.4,0.2-0.6C7.7,7.8,7.7,7.7,7.5,7.4z"/>
                      </g>
                    </svg>
                </button>
            </div>

        </script>

        <!-- template for the compare groups view -->
        <script type="text/template" class="compare-groups-view-template">
            <div class="compare-groups-header-content">
                <div class="compare-groups-location-banner h1-flag">COMPARE GROUPS</div>
            </div>
            <div class="compare-groups-content" id="compare-groups-table">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <button class="sort" data-sort="compare-group-name"></button>
                                <span>GROUP NAME</span>
                            </td>
                            <td>
                                <button class="sort" data-sort="compare-minions-data"></button>
                                <img class="minion-image" src="../images/minion-terrarium.png"></img>
                                <span>MINIONS STOMPED</span>
                            </td>
                            <td>
                                <button class="sort" data-sort="compare-coins-data"></button>
                                <img class="coins-image" src="../images/coin-stack.png"></img>
                                <span>COINS COLLECTED</span>
                            </td>
                            <td>
                                <button class="sort" data-sort="compare-meals-data"></button>
                                <img class="meals-image" src="../images/bowl.png"></img>
                                <span>MEALS PROVIDED</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="list">
                    <!-- place where player group totals will be appended -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="table-footer" colspan="4">ADD A GROUP</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </script>
        <!-- template for adding in groups the user has created -->
        <script type="text/template" class="compare-groups-user-groups-template">
            <tr>
                <td class="compare-group-name"> <%= groupName %> </td>
                <td class="compare-minions-data"><%= minionSum %></td>
                <td class="compare-coins-data"><%= coinSum %></td>
                <td class="compare-meals-data">0</td>
            </tr>
        </script>
                        

        <!-- template for adding a group to the compare groups view -->
        <script type="text/template" class="compare-groups-add-group-template">
            
            <div id="avaialble-group-names">

                <input class="search" placeholder="Search" />
                <button class="sort" data-sort="compare-group-name-search">SORT BY NAME</button>
                <ul class="list">
                  <li>
                    <h3 class="compare-group-name-search">SENIORS</h3>
                    <p class="valid">Live</p>
                  </li>
                  <li>
                    <h3 class="compare-group-name-search">JUNIORS</h3>
                    <p class="valid">Not-Live</p>
                  </li>
                  <li>
                    <h3 class="compare-group-name-search">SOPHOMORES</h3>
                    <p class="valid">Not-Live</p>
                  </li>
                  <li>
                    <h3 class="compare-group-name-search">FRESHMEN</h3>
                    <p class="valid">Live</p>
                  </li>
                </ul>
            </div>
        </script>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/pickadate/lib/compressed/picker.js"></script>
        <script src="../bower_components/pickadate/lib/compressed/picker.date.js"></script>
        <script src="../bower_components/moment/moment.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <script src="../bower_components/list.js/dist/list.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->

        <script type="text/javascript" src="//use.typekit.net/pug4efg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
       
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/create-role.js"></script>
        <script src="scripts/counter.js"></script>
        <script src="scripts/groups.js"></script>
        <script src="scripts/model.js"></script>
        <script src="scripts/home-view.js"></script>
        <script src="scripts/user-nav-view.js"></script>
        <script src="scripts/sign-up-view.js"></script>
        <script src="scripts/sign-in-view.js"></script>
        <script src="scripts/dashboard-view.js"></script>
        <script src="scripts/new-group-code-view.js"></script>
        <script src="scripts/settings-view.js"></script>
        <script src="scripts/create-group-view.js"></script>
        <script src="scripts/compare-groups-view.js"></script>
        <script src="scripts/group-view.js"></script>
        <script src="scripts/player-view.js"></script>
        <script src="scripts/joshS-router.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
